# Scaping Amazonaws

In [1]:
import requests as r

In [2]:
from bs4 import BeautifulSoup

In [4]:
resp = r.get('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/documents/the-html5-breakfast-site.html')

In [6]:
resp.content

b'<!DOCTYPE html>\n<html>\n  <head>\n    <title>The HTML5 Breakfast Site</title>\n    <meta charset="UTF-8">\n\n    <style>\n      body {\n        background-color: limegreen;\n        margin: 40px;\n      } \n    </style>\n  </head>\n  <body>\n    <div id="container">\n\n      <nav id="topnav">\n        <a href="https://www.ironhack.com" target="_blank">HOME</a> |\n        <a href="https://www.ironhack.com/en/team" target="_blank">ABOUT US</a> |\n        <a href="https://www.ironhack.com/en/contact" target="_blank">CONTACT US</a>\n      </nav>\n\n      <section id="content">\n        <h1>The Ironhack Breakfast Place</h1>\n        <p>Here you will find all sorts of delicious treats</p>\n        <figure>\n          <img src="breakfast.jpg" width="400" alt="healthy breakfast">\n          <figcaption>CC Image courtesy of Ruth Hartnup on Flickr</figcaption>\n        </figure>\n      </section>\n\n      <footer>\n        <p class="love">Made with love by Ironhack</p>\n      </footer>\n\n    </div>\n  </body>\n</html>\n'

In [12]:
soup = BeautifulSoup(resp.content)

In [17]:
soup.find_all(['h1','p'])

[<h1>The Ironhack Breakfast Place</h1>,
 <p>Here you will find all sorts of delicious treats</p>,
 <p class="love">Made with love by Ironhack</p>]

In [20]:
soup.select('p.love')

In [22]:
resp = r.get('https://www.reuters.com/news/picture/under-the-sea-with-scientists-fighting-c-idUSRTXBQL1Z')

In [24]:
soup = BeautifulSoup(resp.content)

In [28]:
links = [i['data-lazy'] for i in soup.select('div.slide-image-enclosure>img[data-lazy]')]

In [33]:
links[0].split('r=')[-1]
for i in links:
    with open(i.split('r=')[-1]+'.png', 'wb') as file:
        file.write(r.get(i).content)

# Scaping IMDB

In [34]:
url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250'

In [35]:
headers = """accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
accept-encoding: gzip, deflate, br
accept-language: en-US,en;q=0.9,ru;q=0.8,fr;q=0.7
cache-control: no-cache
cookie: ubid-main=134-1431054-0240453; session-id=136-4110686-4233007; session-id-time=2082787201l; adblk=adblk_no; uu=eyJpZCI6InV1YjMwZmVjMTAzZTMxNGMyNjgwMmYiLCJwcmVmZXJlbmNlcyI6eyJmaW5kX2luY2x1ZGVfYWR1bHQiOmZhbHNlfX0=; session-token=AGiWIhoQpEL1VHqC1Q/kC2pbm7NyAnrLdI+71Ta6EGI7aOdf8mV845N/DgnwjFx43BgZ7eEYT5h7nYu+SeCQhMMCKzKP3MChUMJIXqtYv17jQQdA8aosw2Y52IzY5e7/ytIu1COPNAXTJxk3q1xFWTpvPVSzRy2JwZKsEf/oTlY5jjw6DL67HYJNx32+wHBT; csm-hit=tb:Q3H9GQM4R5FTGZ42VPP8+s-ZAC6HAVMXG7GQM6P1BZW|1619612226124&t:1619612226124&adb:adblk_yes
dnt: 1
pragma: no-cache
referer: https://www.imdb.com/
sec-fetch-dest: document
sec-fetch-mode: navigate
sec-fetch-site: same-origin
sec-fetch-user: ?1
upgrade-insecure-requests: 1
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36"""

In [36]:
headers = dict(i.split(': ') for i in headers.split('\n'))

In [39]:
soup = BeautifulSoup(r.get(url, headers = headers).content)

In [42]:
trs = soup.select('tbody.lister-list tr')

In [43]:
trs[0]

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="9.223864371504433" name="ir"></span>
<span data-value="7.791552E11" name="us"></span>
<span data-value="2381658" name="nv"></span>
<span data-value="-1.7761356284955667" name="ur"></span>
<a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&amp;pf_rd_r=9ZSA0JZZGJD40FCNVRMR&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1"> <img alt="The Shawshank Redemption" height="67" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&amp;pf_rd_r=9ZSA0JZZGJD40FCNVRMR&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
<span class="secondaryInfo">(1994)</span>
</td>
<td class="ratingColumn imdbRating">
<strong title="9.2 based on 2,381,658 user ratings">9.2</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt0111161 pending" data-titleid="tt0111161">
<div class="boundary">
<div class="popover">
<span class="delete">Â </span><ol><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt0111161"></div>
</td>
</tr>

In [59]:
soup.select('h1')[0].text

'Top Rated Movies'

In [78]:
[int(i.select_one('span[name="nv"]')['data-value']) for i in trs];

In [79]:
[float(i.select_one('span[name="ir"]')['data-value']) for i in trs];

In [80]:
import pandas as pd
pd.DataFrame([[j.strip().strip('.()') for j in i.select_one('.titleColumn').text.strip().split('\n')] for i in trs]);

In [86]:
ll = [[j.strip().strip('.()') for j in i.select_one('.titleColumn').text.strip().split('\n')]+ \
[int(i.select_one('span[name="nv"]')['data-value'])]+ \
[float(i.select_one('span[name="ir"]')['data-value'])] for i in trs]

In [88]:
pd.DataFrame(ll, columns = ['Rating', 'Title','Year','Number of Votes','Rating'])

     Rating                     Title  Year  Number of Votes    Rating
0         1  The Shawshank Redemption  1994          2381658  9.223864
1         2             The Godfather  1972          1650226  9.148063
2         3    The Godfather: Part II  1974          1148521  8.980188
3         4           The Dark Knight  2008          2345242  8.975790
4         5              12 Angry Men  1957           703070  8.935894
..      ...                       ...   ...              ...       ...
245     246                Tangerines  2013            42165  8.014542
246     247                  Drishyam  2015            72789  8.013848
247     248     The Battle of Algiers  1966            54226  8.013255
248     249                Hera Pheri  2000            58065  8.012720
249     250                    Swades  2004            83954  8.012686

[250 rows x 5 columns]

# Workflow

1. Detect the structure of the website
    * if REST-API based
        - select the headers, correct URL, data if needed and make get/post request. 
        - most likely you receive a json file. Clean it a bit and convert into pandas
        - if not - clean it a bit, search for a solution (could be json still, but hidden inside, could be html hidden)
    * if HTML based
        - select the headers and URL and make get request
        - convert the response into soup.
        - use css selectors, regex and python operations to get the information needed
        - convert into pandas dataframe
2. Loop over multiple pages to get more data.

# Scraping github website

In [104]:
url = 'https://github.com/trending/developers'

In [114]:
[' ('.join([i.text.strip(), i['href'].strip('/')])+')' for i in BeautifulSoup(r.get(url).content).select('h1.h3 a')]

['JJ Kasper (ijjk)',
 'Evan Wallace (evanw)',
 'Lovell Fuller (lovell)',
 'Nicolas P. Rougier (rougier)',
 'John Lindquist (johnlindquist)',
 'Andrey Sitnik (ai)',
 'Daniel Vaz Gaspar (dpgaspar)',
 'Klaus Post (klauspost)',
 'Artem Zakharchenko (kettanaito)',
 'Ammar Ahmed (ammarahm-ed)',
 'Alex Beregszaszi (axic)',
 'Tim Oliver (TimOliver)',
 'XAMPPRocky (XAMPPRocky)',
 'thomas chaton (tchaton)',
 'Fernand Galiana (derailed)',
 'Anthony Fu (antfu)',
 'chencheng (äºè°¦) (sorrycc)',
 'Maxime Chevalier-Boisvert (maximecb)',
 'Mark Erikson (markerikson)',
 'Michael Waskom (mwaskom)',
 '/rootzoll (rootzoll)',
 'Robert Mosolgo (rmosolgo)',
 'Avelino (avelino)',
 'hiroki osame (privatenumber)',
 'Mike Diarmid (Salakar)']

# Scaping Wikipedia

In [123]:
urls = (['https:'+i['src'] for i in BeautifulSoup(r.get('https://en.wikipedia.org/wiki/Walt_Disney').content).select('img')])

# Scaping emsc-csem.org earthquake alert

In [124]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [126]:
soup = BeautifulSoup(r.get(url).content)

In [130]:
soup.select_one('#tbody tr')

<tr class="ligne1 normal" id="976972" onclick="go_details(event,976972);"><td class="tabev0"></td><td class="tabev0"></td><td class="tabev0"></td><td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=976972">2021-04-28Â Â Â 15:04:30.3</a></b><i class="ago" id="ago0">10min ago</i></td><td class="tabev1">32.75Â </td><td class="tabev2">NÂ Â </td><td class="tabev1">115.82Â </td><td class="tabev2">WÂ Â </td><td class="tabev3">10</td><td class="tabev5" id="magtyp0">Ml</td><td class="tabev2">2.0</td><td class="tb_region" id="reg0">Â SOUTHERN CALIFORNIA</td><td class="comment updatetimeno" id="upd0" style="text-align:right;">2021-04-28 15:07</td></tr>

In [137]:
datetime = [i.select_one('td.tabev6 b a').text.split() for i in soup.select('#tbody tr')]

In [142]:
intensity = [i.select_one('td.tabev0 span') for i in soup.select('#tbody tr')]
intensity = [i.text if i else '' for i in intensity]

In [146]:
region = [i.select_one('td.tb_region').text.strip() for i in soup.select('#tbody tr')]

In [153]:

lat = [' '.join([j.text.strip() for j in i.select('td.tabev6+td.tabev1, td.tabev6+td.tabev1+td.tabev2')]) for i in soup.select('#tbody tr')]
lon = [' '.join([j.text.strip() for j in i.select('td.tabev6+td.tabev1+td.tabev2+td.tabev1, td.tabev6+td.tabev1+td.tabev2+td.tabev1+td.tabev2')]) for i in soup.select('#tbody tr')]

In [164]:
[i.size for i in pd.read_html(url)]

[3, 14, 2, 689]

In [159]:
pd.read_html(url)[0]

,0,1,2
0,NaN,"set_server_date(2021,4,28,15,26,54) Current t...",Member access Name Pwd

In [160]:
pd.read_html(url)[1]

               0              1
0  Member access  Member access
1            NaN            NaN
2           Name            NaN
3            NaN            NaN
4            Pwd            NaN
5            NaN            NaN
6            NaN            NaN

In [161]:
pd.read_html(url)[2]

                                                   0         1
0  - Sorting by column is performed on the data o...  Glossary

In [163]:
pd.read_html(url)[3].head()

  CitizenResponse                                  \
    12345678910ÂÂ» 12345678910ÂÂ».1 12345678910ÂÂ».2
0             NaN             NaN             NaN
1             NaN             NaN             NaN
2             NaN             NaN             NaN
3             NaN             NaN             NaN
4             NaN             NaN             NaN

                  Date & Time UTC Latitude degrees                  \
                    12345678910ÂÂ»    12345678910ÂÂ» 12345678910ÂÂ».1
0  2021-04-28 15:13:24.015min ago            39.18               N
1  2021-04-28 15:10:22.618min ago            36.51               N
2  2021-04-28 15:04:30.324min ago            32.75               N
3  2021-04-28 15:03:51.724min ago            47.73               N
4  2021-04-28 14:49:43.938min ago            39.12               N

  Longitude degrees                      Depth km       Mag [+]  \
      12345678910ÂÂ» 12345678910ÂÂ».1 12345678910ÂÂ» 12345678910ÂÂ»
0             37.84               E             3            ML
1             27.15               E             1            ML
2            115.82               W            10            Ml
3            122.63               W            22            Ml
4            120.03               W             6            Md

  Region name [+]                   Last update [-] Unnamed: 12_level_0
    12345678910ÂÂ»                     12345678910ÂÂ»       12345678910ÂÂ»
0             3.1                    CENTRAL TURKEY    2021-04-28 15:23
1             2.5  DODECANESE IS.-TURKEY BORDER REG    2021-04-28 15:19
2             2.0               SOUTHERN CALIFORNIA    2021-04-28 15:07
3             2.5   SEATTLE-TACOMA AREA, WASHINGTON    2021-04-28 15:14
4             2.0               NORTHERN CALIFORNIA    2021-04-28 14:51